<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title%}{% endblock %} | Restaurant Menu App</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">
      <!-- Place favicon.ico in the root directory -->

      <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

      <meta name="theme-color" content="#fafafa">
    {% endblock %}
  </head>
  <body>
    <div class="has-background-dark h-100">
      <header class="hero">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item has-text-grey-light" href="{{ url_for('show_restaurants') }}">Restaurants</a>
                  {% if not login_session %}
                    <a class="navbar-item has-text-grey-light" href="{{ url_for('show_login') }}">Login</a>
                  {% else %}
                    <a class="navbar-item has-text-grey-light" href="{{ url_for('gdisconnect') }}"></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-6">
                <h1 class="title has-text-white-ter">{{ self.title() }}</h1>

                <hr>
              </div>
            </div>

            {% block creator %}{% endblock %}
          </div>
        </div>

        {% block tabs %}{% endblock %}
      </header>

      {% block flash_messages %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="container">
              <div class="columns is-centered">
                <div class="column is-6">
                  <div class="notification is-success">
                    <button class="delete"></button>
                    {%- for m in messages -%}
                      {{ m }}
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endwith %}
      {% endblock %}

      <section class="section">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </section>
    </div>

    {% block scripts %}
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
  </body>
</html>
