{% extends "base.html" %}
{% block title %}Delete {{ restaurant.name }}{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-6">
    <div class="box">
      <div class="content">
        <h2 class="title">Are you sure you want to {{ self.title() }}?</h2>
      </div>

      <form action="{{ url_for('delete_restaurant', restaurant_id=restaurant.id) }}" method="post">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-danger is-large" type="submit">Delete</button>
          </div>

          <div class="control">
            <a class="button is-text is-large" href="{{ url_for('show_restaurants') }}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
