<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Menu Item</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Edit Menu Item</h1>
    <br>
    <form action="{{ url_for('edit_menu_item', restaurant_id=item.restaurant_id, menu_id=item.id) }}" method="post">
      <label for="name">Name: </label>
      <input type="text" size="30" name="name" placeholder="{{ item.name }}">
      <br>
      <label for="description">Description: </label>
      <textarea name="description" size="250" rows="4" cols="80" placeholder="{{ item.description }}"></textarea>
      <br>
      <label for="price">Price: </label>
      <input type="text" size="6" name="price" placeholder="{{ item.price }}">
      <br>
      <label for="course">Course: </label>
      <select name="course">
        <option value="{{ item.course }}">Selected {{ item.course }}</option>
        <option value="Appetizer">Appetizer</option>
        <option value="Entree">Entree</option>
        <option value="Dessert">Dessert</option>
        <option value="Beverage">Beverage</option>
      </select>
      <br>
      <button type="submit">Update Item</button>
    </form>
    <br>
    <a href="{{ url_for('restaurant_menu', restaurant_id=item.restaurant_id) }}">Cancel</a>
  </body>
</html>
