{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}

  <script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <!-- Load auth2 library & call gapi.auth2.init() to initialize the GoogleAuth object -->
  <script>
    function start() {
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
                client_id: '{{ CLIENT_ID }}'
            });
        });
    }
  </script>

  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=359573617994044&autoLogAppEvents=1"></script>
{% endblock %}

{% block flash_messages %}
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="notification" id="result">
          <button class="delete" type="button"></button>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-6">
    <div class="content has-text-centered">
      <h2 class="title has-text-grey-lighter">{{ self.title() }}</h2>
      <p class="subtitle has-text-grey-lighter">Please login to proceed</p>
    </div>
    <div class="box has-text-centered">
      <div class="content">
        <div id="fb-root"></div>

        <button class="button is-danger is-medium" type="button" id="signinButton">Log in with Google</button>

        <div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile, email" onlogin="checkLoginState(); sendTokenToServer();"></div>
      </div>

      <form action="#" method="post">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="email" name="email" placeholder="Your Email">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password" placeholder="Your Password">
          </div>
        </div>

        <div class="field">
          <label class="checkbox has-text-grey" for="remember">
            <input type="checkbox"> Remember me
          </label>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-link is-large is-fullwidth" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>

    <div class="content has-text-centered has-text-grey-light">
      <a class="has-text-grey-lighter" href="#">Sign Up</a>
      &nbsp;&#183;&nbsp;
      <a class="has-text-grey-lighter" href="#">Forgot Password</a>
      &nbsp;&#183;&nbsp;
      <a class="has-text-grey-lighter" href="#">Need Help?</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
      $('#signinButton').click(function() {
          function signInCallback(authResult) {
              if (authResult['code']) {
                  // Hide the sign-in button now that the user is authorized
                  $('#signinButton').attr('style', 'display: none');

                  // Send the one-time-code to the server, if the server
                  // responds, write a 'login successful' message & redirect
                  // back to the main restaurants page
                  $.ajax({
                      type: 'POST',
                      url: '/gconnect?state={{ STATE }}',
                      // Include `X-Requested-With` header
                      // to protect against CSRF attacks
                      headers: {
                          'X-Requested-With': 'XMLHttpRequest'
                      },
                      contentType: 'application/octet-stream; charset=utf-8',
                      processData: false,
                      data: authResult['code'],
                      success: function(result) {
                          // Handle or verify the server response
                          $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');

                          setTimeout(function() {
                              window.location.href = '/restaurants';
                          }, 4000);
                      }
                  });
              } else {
                  // Handle no response
                  console.log('There was an error: ' + authResult['error']);
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
          }

          auth2.grantOfflineAccess().then(signInCallback);
      });
  });
</script>

<script>
  window.fbAsyncInit = function() {
      FB.init({
          appId: '{{ APP_ID }}',
          cookie: true,
          xfbml: true,
          version: 'v3.2'
      });

      FB.AppEvents.logPageView();
  };

  (function(d, s, id) {
      const js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js';
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function checkLoginState() {
      FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
      });
  }

  function sendTokenToServer() {
      const accessToken = FB.getAuthResponse()['accessToken'];
      console.log('Welcome! Fetching your access token...');
      console.log(accessToken);

      FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);

          $.ajax({
              type: 'POST',
              url: '/fbconnect?state={{ STATE }}',
              processData: false,
              data: accessToken,
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                  // Handle or verify the server response
                  if (result) {
                      $('#result').html('Login Successful!<br>' + result + '<br>Redirecting...');

                      setTimeout(function() {
                          window.location.href = '/restaurants';
                      }, 4000);
                  } else {
                      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                  }
              }
          });
      });
  }
</script>
{% endblock %}
