{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <!-- Load auth2 library & call gapi.auth2.init() to initialize the GoogleAuth object -->
  <script>
    function start() {
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
                client_id: '{{ CLIENT_ID }}'
            });
        });
    }
  </script>
{% endblock %}

{% block flash_messages %}
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="notification" id="result">
          <button class="delete" type="button"></button>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-6">
    <div class="content has-text-centered">
      <h2 class="title has-text-grey-lighter">{{ self.title() }}</h2>
      <p class="subtitle has-text-grey-lighter">Please login to proceed</p>
    </div>
    <div class="box has-text-centered">
      <div class="content">
        <button class="button is-danger is-large is-fullwidth" type="button" id="signinButton">Sign in with Google</button>
      </div>

      <form action="#" method="post">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="email" name="email" placeholder="Your Email">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password" placeholder="Your Password">
          </div>
        </div>

        <div class="field">
          <label class="checkbox has-text-grey" for="remember">
            <input type="checkbox"> Remember me
          </label>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-link is-large is-fullwidth" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>

    <div class="content has-text-centered has-text-grey-light">
      <a class="has-text-grey-lighter" href="#">Sign Up</a>
      &nbsp;&#183;&nbsp;
      <a class="has-text-grey-lighter" href="#">Forgot Password</a>
      &nbsp;&#183;&nbsp;
      <a class="has-text-grey-lighter" href="#">Need Help?</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
      $('#signinButton').click(function() {
          function signInCallback(authResult) {
              if (authResult['code']) {
                  // Hide the sign-in button now that the user is authorized
                  $('#signinButton').attr('style', 'display: none');

                  // Send the one-time-code to the server, if the server
                  // responds, write a 'login successful' message & redirect
                  // back to the main restaurants page
                  $.ajax({
                      type: 'POST',
                      url: '/gconnect?state={{ STATE }}',
                      // Include `X-Requested-With` header
                      // to protect against CSRF attacks
                      headers: {
                          'X-Requested-With': 'XMLHttpRequest'
                      },
                      contentType: 'application/octet-stream; charset=utf-8',
                      processData: false,
                      data: authResult['code'],
                      success: function(result) {
                          // Handle or verify the server response
                          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');

                          setTimeout(function() {
                              window.location.href = '/restaurants';
                          }, 4000);
                      }
                  });
              } else {
                  // Handle no response
                  console.log('There was an error: ' + authResult['error']);
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
          }

          auth2.grantOfflineAccess().then(signInCallback);
      });
  });
</script>
{% endblock %}
