<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurant Menu App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>{{ restaurant.name }}</h1>

    <ul>
      {% for item in items %}
        <li>
          {{ item.name }}<br>
          {{ item.price }}<br>
          {{ item.description }}
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
