{% extends "base.html" %}
{% block title %}Restaurant Menu{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        {% if items %}
          {% for item in items %}
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <h2 class="title is-4">{{ item.name }}</h2>
                </div>
              </div>

              <div class="level-right">
                <p class="level-item">{{ item.price }}</p>
              </div>
            </div>

            <div class="content">
              <p>{{ item.description }}</p>

              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>

            <hr>
          {% endfor %}
        {% else %}
          <p class="content">No items on this menu yet. Add one!</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
