{% extends "base.html" %}
{% block title %}New Restaurant{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-6">
    <div class="box">
      <form action="{{ url_for('new_restaurant') }}" method="post">
        <div class="field">
          <label class="label has-text-light is-medium" for="name">Name</label>

          <div class="control">
            <input class="input is-medium" type="text" name="name" placeholder="Restaurant Name">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-success is-medium" type="submit">Create</button>
          </div>

          <div class="control">
            <a class="button is-text is-medium" href="#">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
