{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}

{% block tabs %}
  {% if restaurants and login_session %}
    <div class="hero-foot">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="tabs">
              <ul>
                <li>
                  <a class="button is-primary" href="{{ url_for('new_restaurant') }}">Add Restaurant</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-6">
    {% if restaurants %}
      <div class="box content">
        {% for restaurant in restaurants %}
          <h2 class="title is-4 is-spaced">
            <a class="has-text-light" href="{{url_for('show_restaurant_menu', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a>
          </h2>

          {% if not loop.last %}
            <hr>
          {% endif%}
        {% endfor %}
      </div>
    {% else %}
      <div class="content">
        <p>{{ no_restaurants_msg }}</p>
        <a class="button is-link" href="{{ url_for('new_restaurant') }}">Add Restaurant</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
