{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}
{% block add_link %}
<a class="button is-primary" href="{{ url_for('new_restaurant') }}">Add Restaurant</a>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        {% if restaurants %}
          <div class="content">
            {% for restaurant in restaurants %}
              <h2 class="title is-4 is-spaced">
                <a href="#">{{ restaurant.name }}</a>
              </h2>

              <a href="#">Edit</a>
              <a href="#">Delete</a>

              {% if not loop.last %}
                <hr>
              {% endif%}
            {% endfor %}
          </div>
        {% else %}
          <p class="content">{{ no_restaurants_msg }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
